* {
	font-family: Arial;
	margin: 0;
}

header{
	overflow: hidden;
	text-align: center;
	padding: 0.7em;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
	background-color: #fff;
}

body{
	display: block;
	background-color:#fafafa;
	/*background-image: url('../images/background.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;*/
}

footer{
	text-align: center;
	padding: 0.5em;
	font-size: 1em;
	border-top: double;
}

#sidebarLeft{
    padding: 18em 4em;
    float: left;
    position: fixed;
}

#sidebarLeft ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

#sidebarLeft li a {
	display: block;
	color: #000;
	padding: 16px 32px;
	text-decoration: none;
}

#sidebarLeft li {
	text-align: center;
}

#sidebarLeft li a.active {
	background-color: tomato;
	color: white;
}

#sidebarLeft li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

#sidebarRight{
	padding: 12em 2em;
	float: right;
}

#sidebarRight li a {
	display: block;
	color: #000;
	padding: 16px 32px;
	text-decoration: none;
}

#sidebarRight li a:hover{
	color: blue;
}

#sideBlock{
	height: 30em;
	border: outset 5px;
}

#main{
	padding: 4em 21em;
}

#main h1{
	text-align: left;
	font-size: 3em;
	margin: 0.4em;
}

#photoBox{
	text-align: left;
	display: block;
	max-width: 600px;
	margin-bottom: 4em;
	padding: 2em;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

#photoBox a{
	margin-top: 2em;
}

#photoBox img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
}

#bigBox{
	min-height: 800px;
	width: 100%;
	display: block;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	padding: 4em;
	border-radius: 4px;
	box-shadow: 10px 10px 20px grey, 10px 15px 20px grey;
	background-color: #f0f0f0;
	overflow: hidden;
}

#bigBox table, tr, th, td{
	border-collapse: collapse;
}

#bigBox th, td{
	padding: 2em;
	text-align: left;
}

#albumBox{
	display: block;
	padding: 2em;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#clickable{
	text-decoration: none;
	color: black;
}

#button {
	display: block;
	margin: auto;
	color: #000;
	padding: 16px 32px;
	text-decoration: none;
	background-color: #f1f1f1;
	border: 1px solid #555;
	width: 300px;
}

#button:hover {
	background-color: #555;
	color: white;
}

#mikeButton{
	text-decoration: none;
	color: black;
}

#mikeButton:hover {
	color: blue;
	background-color: white;
}

.imgShadow img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	max-width: 600px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
}

.fixed{
	position: fixed;
}

.test{
	border: dashed red 1px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom {
  padding: 16px 32px;
}